<html>
<head>
  <script src="/assets/js/jquery-2.1.4.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/highcharts-custom.js"></script>
  <script src="/assets/js/handlebars.runtime-v4.0.5.js"></script>

  <link href='/assets/styles/bootstrap.min.css' rel='stylesheet'>
  <script src="/assets/templates/templates.js"></script>
  <script src='/socket.io/socket.io.js'></script>
  <script src='/assets/js/inputUtilities.js'></script>
  <script src='/assets/js/loadModal.js'></script>
</head>
<body>
    
    <div class='jumbotron'>
        <div class='container'>
        <h2>Market Risk</h2>
            <p>
            This standalone app represents the best in class standard in modeling techniques.  The webserver is driven by NodeJS, an asyncronous IO programming language.  The market model itself is implemented in C++ with multi-threading for use across any number of cores.  Automatic differentation is in place to efficiently compute sensitivities.  The model is self-consistent: there is no arbitrage and all assumptions carry across all pricing functions.  
            </p>
        </div>
    </div>
    <div class='container'>
      <div id='main'>

      </div>
        <div id='andmore'>

      </div>
    </div>
    


</body>
<script>
    var socket = io();
    Handlebars.partials = Handlebars.templates;
    
    var assets=[{
        label:"Bond",
        value:0,
    },{
        label:"Euro Dollar Future",
        value:1
    },{
        label:"Bond Call (Zero Coupon)",
        value:3
    },{
        label:"Bond Put (Zero Coupon)",
        value:4
    },/*{
        label:"Bond Call (Coupon)",
        value:5
    },{
        label:"Bond Put (Coupon)",
        value:6
    },*/{
        label:"Caplet",
        value:7
    },{
        label:"Swap",
        value:8,
    },{
        label:"Swaption",
        value:9
    },{
        label:"American Swaption (Warning: slower solution)",
        value:10
    }];
    var assetParameters={
        "0":[{
            label:"Maturity (years)",
            id:"T",
            placeholder:"1",
            depends:"t",
            validation:function(val, val1){
                return !isNaN(parseFloat(val)) && isFinite(val) && val*360>val1;
            },
            errMessage:"Maturity must be greater than the \"Simulate to date\""
        }],
        "1":[{
            label:"Maturity (years)",
            id:"T",
            placeholder:"1",
            depends:"t",
            validation:function(val, val1){
                return !isNaN(parseFloat(val)) && isFinite(val) && val*360>val1;
            },
            errMessage:"Maturity must be greater than the \"Simulate to date\""
        },{
            label:"Floating Tenor (years)",
            id:"delta",
            placeholder:".25",
            validation:function(val, val1){
                return !isNaN(parseFloat(val)) && isFinite(val) && val>val1;
            },
            errMessage:"Floating Tenor must be greater than 0"
        }],
        "3":[{
            label:"Maturity (years)",
            id:"T",
            placeholder:"1",
            depends:"t",
            validation:function(val, val1){
                return !isNaN(parseFloat(val)) && isFinite(val) && val*360>val1;
            },
            errMessage:"Maturity must be greater than the \"Simulate to date\""
        },{
            label:"Underlying Maturity (years)",
            id:"Tm",
            placeholder:"1.25",
            depends:"T",
            validation:function(val, val1){
                return !isNaN(parseFloat(val)) && isFinite(val) && val>val1;
            },
            errMessage:"Underlying Maturity must be greater than Maturity"
        },{
            label:"Strike",
            id:"k",
            placeholder:".97",
            validation:function(val, val1){
                return !isNaN(parseFloat(val)) && isFinite(val) && val>val1;
            },
            errMessage:"Strike must be greater than zero"
        }],
        "4":[{
            label:"Maturity (years)",
            id:"T",
            placeholder:"1",
            depends:"t",
            validation:function(val, val1){
                return !isNaN(parseFloat(val)) && isFinite(val) && val*360>val1;
            },
            errMessage:"Maturity must be greater than the \"Simulate to date\""
        },{
            label:"Underlying Maturity (years)",
            id:"Tm",
            placeholder:"1.25",
            depends:"T",
            validation:function(val, val1){
                return !isNaN(parseFloat(val)) && isFinite(val) && val>val1;
            },
            errMessage:"Underlying Maturity must be greater than Maturity"
        },{
            label:"Strike",
            id:"k",
            placeholder:".97",
            validation:function(val, val1){
                return !isNaN(parseFloat(val)) && isFinite(val) && val>val1;
            },
            errMessage:"Strike must be greater than zero"
        }],
        "7":[{
            label:"Maturity (years)",
            id:"T",
            placeholder:"1",
            depends:"t",
            validation:function(val, val1){
                return !isNaN(parseFloat(val)) && isFinite(val) && val*360>val1;
            },
            errMessage:"Maturity must be greater than the \"Simulate to date\""
        },{
            label:"Floating Tenor (years)",
            id:"delta",
            placeholder:".25",
            validation:function(val, val1){
                return !isNaN(parseFloat(val)) && isFinite(val) && val>val1;
            },
            errMessage:"Tenor must be greater than zero"
        },{
            label:"Strike",
            id:"k",
            placeholder:".02",
            validation:function(val, val1){
                return !isNaN(parseFloat(val)) && isFinite(val) && val>val1;
            },
            errMessage:"Strike must be greater than zero"
        }],
        "8":[{
            label:"Maturity (years)",
            id:"T",
            placeholder:"1",
            depends:"t",
            validation:function(val, val1){
                return !isNaN(parseFloat(val)) && isFinite(val) && val*360>val1;
            },
            errMessage:"Maturity must be greater than the \"Simulate to date\""
        },{
            label:"Floating Tenor (years)",
            id:"delta",
            placeholder:".25",
            validation:function(val, val1){
                return !isNaN(parseFloat(val)) && isFinite(val) && val>val1;
            },
            errMessage:"Tenor must be greater than zero"
        },{
            label:"Swap Rate",
            id:"k",
            placeholder:".02",
            validation:function(val, val1){
                return !isNaN(parseFloat(val)) && isFinite(val) && val>val1;
            },
            errMessage:"Swap Rate must be greater than zero"
        }],
        "9":[{
            label:"Maturity (years)",
            id:"T",
            placeholder:"1",
            depends:"t",
            validation:function(val, val1){
                return !isNaN(parseFloat(val)) && isFinite(val) && val*360>val1;
            },
            errMessage:"Maturity must be greater than the \"Simulate to date\""
        },{
            label:"Floating Tenor (years)",
            id:"delta",
            placeholder:".25",
            validation:function(val, val1){
                return !isNaN(parseFloat(val)) && isFinite(val) && val>val1;
            },
            errMessage:"Tenor must be greater than zero"
        },{
            label:"Underlying Maturity (years)",
            id:"Tm",
            placeholder:"6",
            depends:"T",
            validation:function(val, val1){
                return !isNaN(parseFloat(val)) && isFinite(val) && val>val1;
            },
            errMessage:"Underlying Maturity must be greater than Maturity"
        },{
            label:"Strike",
            id:"k",
            placeholder:".03",
            validation:function(val, val1){
                return !isNaN(parseFloat(val)) && isFinite(val) && val>val1;
            },
            errMessage:"Strike must be greater than zero"
        }],
        "10":[{
            label:"Maturity (years)",
            id:"T",
            placeholder:"1",
            depends:"t",
            validation:function(val, val1){
                return !isNaN(parseFloat(val)) && isFinite(val) && val*360>val1;
            },
            errMessage:"Maturity must be greater than the \"Simulate to date\""
        },{
            label:"Floating Tenor (years)",
            id:"delta",
            placeholder:".25",
            validation:function(val, val1){
                return !isNaN(parseFloat(val)) && isFinite(val) && val>val1;
            },
            errMessage:"Tenor must be greater than zero"
        },{
            label:"Underlying Maturity (years)",
            id:"Tm",
            placeholder:"6",
            depends:"T",
            validation:function(val, val1){
                return !isNaN(parseFloat(val)) && isFinite(val) && val>val1;
            },
            errMessage:"Underlying Maturity must be greater than Maturity"
        },{
            label:"Strike",
            id:"k",
            placeholder:".03",
            validation:function(val, val1){
                return !isNaN(parseFloat(val)) && isFinite(val) && val>val1;
            },
            errMessage:"Strike must be greater than zero"
        }]
    }
    var validator={};
    for(key in assetParameters){
        var n=assetParameters[key].length;
        validator[key]={};
        for(var i=0; i<n; i++){
            validator[key][assetParameters[key][i].id]={};
            validator[key][assetParameters[key][i].id].validation=assetParameters[key][i].validation;
            validator[key][assetParameters[key][i].id].errMessage=assetParameters[key][i].errMessage;
        }
    }
    var selectedAsset="";
    var chart;
    var hasbutton=false;
    var progressbar = Handlebars.templates['progressbar'];
    var form = Handlebars.templates['MarketRiskParameters'];
    var display = Handlebars.templates['largetext'];
    var parameters = Handlebars.templates['AssetParameters'];
    var stdparameters = Handlebars.templates['StandardParameters'];
    var modalBRS = Handlebars.templates['modal'];
    var modal=new loadModal(modalBRS, "hide");
    var $main=$('#main');
    var $andmore=$('#andmore');

    
    $main.html(progressbar({percent:100}));
    socket.emit("getYield");
    socket.on('data', function(data) {
        data=JSON.parse(data);
        console.log(data);
        var keys=Object.keys(data);
        if(keys[0]==='Spot'||keys[0]==='Forward'){ 
            if(!hasbutton){
                $main.html(form({assets:assets}));
                $andmore.html(stdparameters());
                hasbutton=true;
            }
            createChart(data[keys[0]], keys[0]);
        }
        else if(keys[0]==='percent'){
            $('#progressBar').css("width", data.percent*100+'%');
        }
        else{
            loadHistogram(modal.interior[0], data['bins'], data['count']);
        }
    });
    var getMC=function(){
        var valsToSubmit={};
        var isValidated=true;
        $('.form-control').each(function(num, element){
            $el=$(element);
            var depends=$el.data('dependency');
            var vl=$el.val()||$el.attr('placeholder');
            var vl1=0;
            var dependsElement="";
            if(depends){
                dependsElement=$('#'+depends);
                vl1=dependsElement.val()||dependsElement.attr('placeholder');
            }
            var id=$el.attr('id');
            vl=parseFloat(vl);
            var isValidNumber=!isNaN(vl);///^[1-9]\d{0,2}(\.\d{3})*(,\d+)?$/.test(vl1);
            var errMessage="";
            //console.log(vl);
            var validate=false;
            if(!isValidNumber){
                errMessage="Requires a valid number";
            }
            else{
                if(selectedAsset&&validator[selectedAsset][id]){
                    errMessage=validator[selectedAsset][id].errMessage;
                    validate=validator[selectedAsset][id].validation(vl, vl1);
                }
                else{
                    validate=true;
                    valsToSubmit[id]=vl;//parseFloat(vl);
                }
            }            
            if(validate){
                valsToSubmit[id]=vl;//parseFloat(vl);
                $el.parent().removeClass('has-error');
                $el.parent().find('.errmsg').text("");
                if(dependsElement){
                    dependsElement.parent().removeClass('has-error');
                }
            }
            else{
                isValidated=false;
                $el.parent().addClass('has-error');
                $el.parent().find('.errmsg').text(errMessage);
                if(dependsElement){
                    dependsElement.parent().addClass('has-error');
                }
            }
        });
        if(isValidated){
            modal.launch("Histogram of Price");
            modal.replaceInterior(progressbar({percent:100}));
            console.log(valsToSubmit);
            socket.emit("getMC", valsToSubmit);
        }
    };
    function displayOptions(val, label){
        selectedAsset=val;
        $('#assetParameters').html(parameters({asset:label, parameter:assetParameters[val]}));
    }
    function loadHistogram(id, categories, values){
        var hist = new Highcharts.Chart({
            chart: {    
                
                renderTo: id,
                type: 'column',
                marginRight: 10,
                zoomType: 'x'
            },
            credits:false,
            title:"",
            plotOptions: {
                series: {
                    groupPadding: 0,
                    pointPadding: 0,
                    borderWidth: 0
                }
            },
            xAxis: {
                type: 'category',
                categories:categories,
                title:{
                    text:'Price'
                }
            },
            yAxis: {
                title: {
                    text: 'Frequency'
                }
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'Distribution of Prices',
                data: values
            }]
        });
    }

    function createChart(chartData, name){
        if(chart){
            chart.addSeries({
                data:chartData,
                name:name
            });
        }
        else{
            chart=new Highcharts.Chart({
                credits:false,
                chart: {
                    type: 'spline',
                    renderTo: 'chart',
                    zoomType: 'x'
                },
                title:{
                    text:"Spot and Forward Curves"
                },
                xAxis:{
                    type:'category',
                    title: {
                        text: 'Years to Maturity'
                    }
                },
                yAxis:{
                    title: {
                        text: 'Rate'
                    }
                },
                legend:{
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'bottom',
                    floating: true,
                    backgroundColor: '#FFFFFF',
                    y:-40
                    //enabled:false
                },
                series:[{
                    data:chartData,
                    name:name
                }]
            });
        }
    }
</script>

</html>
