<html>
<head>
  <script src="/assets/js/jquery-2.1.4.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/highcharts-custom.js"></script>
  <script src="/assets/js/handlebars.runtime-v4.0.5.js"></script>

  <link href='/assets/styles/bootstrap.min.css' rel='stylesheet'>
  <script src="/assets/templates/templates.js"></script>
  <script src='/socket.io/socket.io.js'></script>
</head>
<body>
  <div id='main'>

  </div>


</body>
<script>
  var socket = io();
  Handlebars.partials = Handlebars.templates;
  var chart;
  var hasbutton=false;
  var progressbar = Handlebars.templates['progressbar'];
  var form = Handlebars.templates['MarketRiskFrontEnd'];
  var display = Handlebars.templates['largetext'];
  var $main=$('#main');
  $main.html(progressbar({percent:100}));
  socket.emit("getYield");
  socket.on('data', function(data) {
    data=JSON.parse(data);
    var keys=Object.keys(data);
    if(keys[0]==='Spot'||keys[0]==='Forward'){
      createChart(data[keys[0]], keys[0]);
      if(!hasbutton){
        $main.append("<button class='btn btn-default' onclick=getMC()>Run MC</button>");
        hasbutton=true;
      }

    }
    else if(keys[0]==='percent'){
      $('#progressBar').css("width", data.percent*100+'%');
    }
    else{
      $main.html(display({data:data}));
    }
  });
  getMC=function(){
    $main.append(progressbar({percent:0}));
    socket.emit("getMC");
  };

  function createChart(chartData, name){
    //$main.
    if(chart){
      chart.addSeries({
        //type:'spline',
        data:chartData,
        name:name,
      });
    }
    else{
      chart=new Highcharts.Chart({
        credits:false,
        chart: {
          type: 'spline',
          renderTo: 'main',
          zoomType: 'x'
        },
        title:{
          text:"Spot and Forward Curves"
        },
        xAxis:{
          type:'category'
        },
        legend:{
          enabled:false
        },
        series:[{
          //type:'spline',
          data:chartData,
          name:name
        }]
      });
    }
  }
</script>

</html>
