<div class='row'>
    <div class='col-md-8 col-sm-12' id='chart'>
    
    </div>
    <div class="form-group col-md-4 col-sm-12">
        <label for="asset">Asset Type</label>
        <select id='asset' class="form-control" onchange="displayOptions(this.value, this.options[this.selectedIndex].text)">
            <option value="" disabled selected style="display:none;"></option>
            {{#each assets}}
                <option value='{{value}}'>{{label}}</option>
            {{/each}}
        </select>
    </div>
    <div id='assetParameters'></div>
    
</div>