<div class='panel panel-default col-md-5 col-sm-12'>
    <div class='panel-body'>
        <div class="form-group">
            <label for="asset">Asset Type</label>
            <select id='asset' class="form-control" onchange="displayOptions(this.value, this.options[this.selectedIndex].text)">
                <option value="" disabled selected style="display:none;"></option>
                {{#each assets}}
                    <option value='{{value}}'>{{label}}</option>
                {{/each}}
            </select>
        </div>
        <div id='assetParameters'></div>
    </div>
</div>


    
    
