<div class="input-group">
  <span class="input-group-addon" id="simulation">Number of simulations</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>
