<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" id='progressBar' aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{percent}}%">
    <!--<span class="sr-only">45% Complete</span>-->
  </div>
</div>
