<div class='panel panel-default'>
    <div class='panel-body'>
        <div class="form-group standard">
            <label for="n">Number of simulations</label>
            <label class='errmsg control-label'></label>
            <input type="text" class="form-control" id="n" placeholder="1000" pattern="/^[+]?([0-9])$/">
        </div>
        <div class="form-group standard">
            <label for="sigma">Volatility</label>
            <label class='errmsg control-label'></label>
            <input type="text" class="form-control" id="sigma" placeholder=".04" pattern="/^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$/">
        </div>
        <div class="form-group standard">
            <label for="a">Mean Reversion</label>
            <label class='errmsg control-label'></label>
            <input type="text" class="form-control" id="a" placeholder=".2" pattern="/^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$/">
        </div>
        <div class="form-group standard">
            <label for="t">Simulate to date (in days)</label>
            <label class='errmsg control-label'></label>
            <input type="text" class="form-control" id="t" placeholder="10" pattern="/^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$/"> 
        </div>
    </div>
</div>

<div class="form-group standard float-right">
    <button class='btn btn-primary' onclick='getMC();'>Run</button>
</div>
